.header2 {
    width: 1440px;
    height: 590px;
    left: 0px;
    top: 0px;
    background: linear-gradient(268.39deg, rgba(0, 0, 0, 0) 21.45%, #000000 85.16%), url(../main/img/unsplash_AxuS6CFO1eM.png);
}

.dom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 186px;
}

.dom1 {
    width: 183px;
    height: 38px;
    font-family: 'Jura';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.dom2 {
    margin-top: 35px;
    width: 565px;
    height: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

/* MAIN */
.karta {
    min-height: 930px;
    display: flex;
    flex-flow: row wrap;
    width: 1290px;
    height: 1602px;
    margin-top: -50px;
    margin-left: 120px;
}

.cardX1 {
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    width: 590px;
    height: 481px;
    margin-top: 88px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../main/img/Rectangle\ 33.png);
    border-radius: 14px;
    margin-right: 25px;
}

.cardX2 {
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    width: 590px;
    height: 481px;
    margin-top: 88px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../main/img2/unsplash_tyDgjiJbz54.png);
    border-radius: 14px;
}

.cardX3 {
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    width: 590px;
    height: 481px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../main/img2/unsplash_c8zAsv-7Gzk.png);
    border-radius: 14px;
    margin-top: 30px;
    margin-right: 25px;

}

.cardX4 {
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    width: 590px;
    height: 481px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../main/img2/unsplash_YES-ect0c08.png);
    border-radius: 14px;
    margin-top: 30px;
}

.cardX5 {
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    width: 590px;
    height: 481px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../main/img2/unsplash_T-7L3pcUsFg.png);
    border-radius: 14px;
    margin-top: 30px;
    margin-right: 25px;

}

.cardX6 {
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    width: 590px;
    height: 481px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../main/img2/unsplash_WB6_abn4xko.png);
    border-radius: 14px;
    margin-top: 30px;
}

.cardX1:hover{
    cursor: pointer;
    box-shadow: 0px 5px 4px rgba(167, 167, 167, 0.792);
}

.cardX2:hover{
    cursor: pointer;
    box-shadow: 0px 5px 4px rgba(167, 167, 167, 0.792);
}

.cardX3:hover{
    cursor: pointer;
    box-shadow: 0px 5px 4px rgba(167, 167, 167, 0.792);
}

.cardX4:hover{
    cursor: pointer;
    box-shadow: 0px 5px 4px rgba(167, 167, 167, 0.792);
}

.cardX5:hover{
    cursor: pointer;
    box-shadow: 0px 5px 4px rgba(167, 167, 167, 0.792);
}

.cardX6:hover{
    cursor: pointer;
    box-shadow: 0px 5px 4px rgba(167, 167, 167, 0.792);
}

.carousel {
    display: flex;
    flex-direction: row;
    margin-left: 120px;
    width: 1290px;
    margin-top: 30px;
    margin-bottom: -10px;
}

.X1 {
    display: flex;
    align-items:center;
    height: 70px;
    width: 144px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../main/img2/unsplash_SpZWvCkjTwc.png);
    border-radius: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.X2 {
    cursor: pointer;
    display: flex;
    align-items:center;
    height: 70px;
    width: 144px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../main/img2/unsplash_xlzlHu-Z9J8.png);
    border-radius: 15px;
    margin-right: 10px;
}

.X3 {
    cursor: pointer;
    display: flex;
    align-items:center;
    height: 70px;
    width: 140px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../main/img2/unsplash_aX1TTOuq83M.png);
    border-radius: 15px;
    margin-right: 10px;
}

.X4 {
    cursor: pointer;
    display: flex;
    align-items:center;
    height: 70px;
    width: 140px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../main/img2/unsplash_Hggo81-zgxE.png);
    border-radius: 15px;
    margin-right: 10px;
}

.X5 {
    cursor: pointer;
    display: flex;
    align-items:center;
    height: 70px;
    width: 140px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../main/img2/unsplash_Uxqlfigh6oE.png);
    border-radius: 15px;
    margin-right: 10px;
}

.X6 {
    cursor: pointer;
    display: flex;
    align-items:center;
    height: 70px;
    width: 140px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../main/img2/unsplash_8QIAj5tHDdc.png);
    border-radius: 15px;
    margin-right: 10px;
}

.X7 {
    cursor: pointer;
    display: flex;
    align-items:center;
    height: 70px;
    width: 140px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../main/img2/unsplash_CCjAPxoQWgQ.png);
    border-radius: 15px;
    margin-right: 10px;
}

.X8 {
    cursor: pointer;
    display: flex;
    align-items:center;
    height: 70px;
    width: 144px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../main/img2/unsplash_v4bCFqVM9Gs.png);
    border-radius: 15px;
}

.nozhi {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.btnRestX1 {
    margin: 0px 8px 20px 0px;
    width: 48px;
    height: 48px;
    border: 1px solid #04040400 ;
    border-radius: 100px;
    background: url(../main/img/Group\ 23.svg) center no-repeat;
}